@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .calendar__item {
    @apply relative border-4 border-sky-400 rounded-md p-4 flex flex-col items-center justify-center cursor-pointer hover:bg-slate-50 col-span-4 md:col-span-3 lg:col-span-2;
  }

  .calendar__holidays-badge {
    @apply bg-red-600 text-white text-[8px] px-1 rounded-full top-1.5 right-1.5 absolute;
  }

  .calendar__date {
    @apply text-xl font-bold text-sky-600;
  }

  .calendar__day {
    @apply font-semibold;
  }

  .modal {
    @apply fixed inset-0;
  }

  .modal__backdrop {
    @apply w-full h-full bg-[rgba(0,0,0,0.1)] flex items-center flex-col justify-center;
  }

  .modal__body {
    @apply w-[400px] max-w-full bg-white rounded-md shadow-md;
  }

  .modal__header {
    @apply p-4 text-center border-b border-sky-400;
  }

  .modal__content {
    @apply p-4;
  }

  .holiday {
    @apply rounded-md border border-sky-400 p-2;
  }
}
